#field {
    display: flex;
    flex-direction: row;
}

#leftMoveZone {
    width: 20px;
    height: 400px;
    position: relative;
    float: left;
}

#rightMoveZone {
    width: 20px;
    height: 400px;
    position: relative;
    float: right;
}

#leftPlatform {
    position: absolute;
    height: 100px;
    width: 20px;
    background-color: black;
}

#rightPlatform {
    position: absolute;
    height: 100px;
    width: 20px;
    background-color: black;
}

#leftField {
    width: 50%;
    height: 400px;
}

#rightField {
    width: 50%;
    height: 400px;
}

.ballStart {
    height: 400px;

}

#ball {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: gold;
    position: absolute;
}
#field{
    width: 800px;
    height: 400px;
    background: grey;
}
#ball{
    left: 400px;
    top: 200px;
}
#upWall{
    background: black;
    width: 800px;
    height: 20px;
}
#downWall{
    background: black;
    width: 800px;
    height: 20px;
}
